<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Создать продукт</title>
        <script type="text/javascript" th:src="@{/js/create-product.js}"></script>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <h3 th:text="${description}"></h3>

        <form action="/product/create" method="post">
            <label for="name">Название продукта</label>
            <input type="text" name="name" id="name"> <b style="color:red" th:if="${nameErr}" th:text="${nameErr}"></b> <br>

            <label for="description">Описание продукта</label>
            <input type="text" name="description" id="description"> <b style="color:red" th:if="${descriptionErr}" th:text="${descriptionErr}"></b> <br>

            <b>Теги:</b>
            <div class="tags" id="tags_display">
              
            </div>
            <input type="hidden" id="tags" name="tags_list" value="">
            <label for="tags_input">Теги продукта</label>
            <input type="text" id="tags_input" oninput="addTag(this.value)"> <br>

            <label for="category">Категория продукта</label>
            <select name="category" id="category">
                <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">categoryname</option>
            </select> <br>

            <label for="price">Цена продукта</label>
            <input type="number" value="0" id="price" name="price"> <b style="color:red" th:if="${priceErr}" th:text="${priceErr}"></b> <br>

            <label for="stockLevel">Количество товара на складе</label>
            <input type="number" value="0" id="stockLevel" name="stockLevel"> <b style="color:red" th:if="${stockLevelErr}" th:text="${stockLevelErr}"></b> <br>

            <button type="submit">Создать</button>
        </form>

        <!--        dark theme -->
        <style>
            :root {
              --background-color: #fff;
              --text-color: #333;
            }

            @media (prefers-color-scheme: dark) {
              :root {
                --background-color: #333;
                --text-color: #fff;
              }
            }

            body {
              background-color: var(--background-color);
              color: var(--text-color);
            }
        </style>
    </body>
</html>