<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Аккаунт</title>
    </head>
    <body>
        <h1 th:text="${name}"></h1>
        <h3 th:text="${email}"></h3>

        <!--        dark theme -->
        <style>
            :root {
              --background-color: #fff;
              --text-color: #333;
            }

            @media (prefers-color-scheme: dark) {
              :root {
                --background-color: #333;
                --text-color: #fff;
              }
            }

            body {
              background-color: var(--background-color);
              color: var(--text-color);
            }
        </style>
    </body>
</html>