<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${product.name}">Продукт</title>
    <script type="text/javascript" th:src="@{/js/product-page.js}"></script>
</head>
<body>
        <div class="product">
          <!--            <img src="product1.jpg" alt="Product 1">-->
          <h2 th:text="${product.name}">Product 1</h2>
          <p th:text="${product.description}">Description of product 1.</p>
          <p th:text="${product.price} + '₽'">Price: $10.00</p>
        </div>

        <div class="seller">
            <input type="button" th:value="${product.seller.title}" onclick="redirectToSeller()">
            <h3 th:text="${avg_value}"></h3>
        </div>

        <input type="hidden" th:value="${product.id}" name="id" id="id">
        <input type="hidden" th:value="${username}" id="username">
        <input type="hidden" th:value="${product.seller.id}" id="seller_id">
        <input type="button" id="addToCartButton" value="Добавить в корзину" onclick="addToCartButton()">

        <br>
        <br>
        <br>
        <br>

        <input type="range" min="1" max="5" value="5" id="fb_value" oninput="displayRangeValue(this.value)"> 
        <p id="value_display">5</p>
        <input type="text" id="fb_text">
        <input type="button" value="Оставить отзыв" onclick="leaveFeedback()">

        <br>
        <br>
        <br>
        <br>

        
        <div id="feedbacks">
          <div class="feedback" th:each="feedback : ${feedbacks}">
            <b th:text="${feedback.customer.name}"></b><br>
            <b th:text="${feedback.value}"></b>
            <p th:text="${feedback.text}"></p>
          </div>
        </div>

        <!--        dark theme -->
        <style>
            :root {
              --background-color: #fff;
              --text-color: #333;
            }

            @media (prefers-color-scheme: dark) {
              :root {
                --background-color: #333;
                --text-color: #fff;
              }
            }

            body {
              background-color: var(--background-color);
              color: var(--text-color);
            }

                        .product {
              border: 1px solid #ccc;
              padding: 10px;
              margin-bottom: 10px;
            }
            .product img {
              max-width: 100%;
            }
            .product h2 {
              font-size: 1.2em;
              margin: 0;
            }
            .product p {
              margin: 0;
            }
            
            .feedback {
              border: 1px solid #ccc;
              padding: 10px;
              margin-bottom: 10px;
            }

            .seller {
              border: 1px solid #ccc;
              padding: 10px;
              margin-bottom: 10px;
            }
        </style>
</body>
</html>