<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Аккаунт</title>
    </head>
    <body>
        <h1 th:text="${title}"></h1>
        <h3 th:text="${description}"></h3>

        <button onclick="location.href='/product/create'">Создать товар</button>

        <div class="product" th:each="product : ${products}">
<!--            <img src="product1.jpg" alt="Product 1">-->
            <h2 th:text="${product.name}">Product 1</h2>
            <p th:text="${product.description}">Description of product 1.</p>
            <p th:text="${product.price} + '₽'">Price: $10.00</p>
            <form th:action="@{/product/{id}(id=${product.id})}">
                <button>Подробнее</button>
            </form>
        </div>

        <!--        dark theme -->
        <style>
            :root {
              --background-color: #fff;
              --text-color: #333;
            }

            @media (prefers-color-scheme: dark) {
              :root {
                --background-color: #333;
                --text-color: #fff;
              }
            }

            body {
              background-color: var(--background-color);
              color: var(--text-color);
            }

            .product {
              border: 1px solid #ccc;
              padding: 10px;
              margin-bottom: 10px;
            }
            .product img {
              max-width: 100%;
            }
            .product h2 {
              font-size: 1.2em;
              margin: 0;
            }
            .product p {
              margin: 0;
            }
        </style>
    </body>
</html>