<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${seller.title}">Продавец</title>
</head>
<body>
    <h2 th:text="${seller.title}">Продавец</h2>
    <p th:text="${seller.description}">Описание</p>
    <h3 th:text="${average}">5</h3>

    <div>
        <div class="product" th:each="product : ${products}">
            <h2 th:text="${product.name}">Product 1</h2>
            <p th:text="${product.description}">Description of product 1.</p>
            <p th:text="${product.price} + '₽'">Price: $10.00</p>
            <form th:action="@{/product/{id}(id=${product.id})}" method="get">
                <button>Подробнее</button>
            </form>
        </div>
    </div>

    <style>
        :root {
          --background-color: #fff;
          --text-color: #333;
        }

        @media (prefers-color-scheme: dark) {
          :root {
            --background-color: #333;
            --text-color: #fff;
          }
        }

        body {
          background-color: var(--background-color);
          color: var(--text-color);
        }

                    .product {
          border: 1px solid #ccc;
          padding: 10px;
          margin-bottom: 10px;
        }
        .product img {
          max-width: 100%;
        }
        .product h2 {
          font-size: 1.2em;
          margin: 0;
        }
        .product p {
          margin: 0;
        }
    </style>
</body>
</html>