<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Подтверждение</title>
    </head>
    <body>
        <form action="/verify" method="post">
            <label for="code"><b th:text="'Код, который пришел на почту ' + ${email}">Код из почты</b></label>
            <input type="number" placeholder="Код" name="code" id="code">
            <input type="hidden" th:value="${name}" name="name">
            <input type="hidden" th:value="${title}" name="title">
            <input type="hidden" th:value="${description}" name="description">
            <input type="hidden" th:value="${email}" name="email">
            <input type="hidden" th:value="${type}" name="type">
        </form>

        <!--        dark theme -->
        <style>
            :root {
              --background-color: #fff;
              --text-color: #333;
            }

            @media (prefers-color-scheme: dark) {
              :root {
                --background-color: #333;
                --text-color: #fff;
              }
            }

            body {
              background-color: var(--background-color);
              color: var(--text-color);
            }
        </style>
    </body>
</html>